%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins&display=swap", :rel => "stylesheet"}/
    %title i'm in Project
    :css
      body, html {
          height: 100%;
          margin: 0;
          font-family: 'Poppins',Helvetica, sans-serif;
      }

      * {
          box-sizing: border-box;
      }

      .bg-image {
          /* The image used */
          
          background-image:  url(#{asset_path 'bg.jpg'});

          /* Add the blur effect */
          filter: blur(4px);
          -webkit-filter: blur(4px);

          /* Full height */
          height: 100%;

          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }

      /* Position text in the middle of the page/image */
      .bg-text {
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
          color: white;
          font-weight: bold;
          border: 3px solid #f1f1f1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          width: 80%;
          padding: 20px;
          text-align: center;
      }

      .nav{
          color: white;
          font-weight: lighter;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1;
          text-align: center;
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
      }
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
      }

      ol {
          float: left;
      }

      ol a {
          display: block;
          color: white;
          text-align: center;
          padding: 10px 12px;
          text-decoration: none;
          font-size: 20px;
          margin-left: 20px;
          margin-top: 0;
      }

      ol a:hover:not(.active) {
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      }

      #aboutnav{
          float: right;
          padding-right: 40px;
      }
  %body
    .nav
      %ol
        %a{:href => "static.html"} Home
      %ol
        %a{:href => "howto.html"} How to
      %ol
        %a{:href => "contact.html"} Contact
      %ol
        %a{:href => "homepage.html"} Events
      %ol
        %a{:href => "registers/new"} Register
      %ol
        %a{:href => "login#index"} Login
      %ol
        %a{:href => "home#index"} member
      %ol#aboutnav
        %a{:href => "about.html"} About
    .bg-image
    .bg-text
      %h1{:style => "font-size:50px"} I am in  Project
      %p{:style => "font-size: 20px; font-weight: lighter;"} cn 340 software engineering
      %div
        I'm in Home
        %p
          %a{:href => "events/new"} Events
          %a{:href => "reports/new"} Reports
        %br/
        %p
        All Events?
        %br/
        %p
          %table
            %thead
              %tr
                %th Title
                %th Category
                %th By
                %th 
            
              %tbody
                - @events.each do |event|
                  %tr
                    %td= event.title
                    %td= event.category
                    %td= event.by
                    %td= link_to 'More', event
          %br
        %br/
        %p
        All Reports
        %br/
        %p
          %table
            %thead
              %tr
                %th event
                %th report to
                %th By
                %th 
            
              %tbody
                - @reports.each do |report|
                  %tr
                    %td= report.event
                    %td= report.report_to
                    %td= report.by
                    %td= link_to 'More', report
          %br
        %br/
        
        %div
      