<html>
  <head>
    <!--<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap" rel="stylesheet"> -->
  </head>
  <body>
    <div class="containerhome ">
      <div class="avatar-flip">
        <% if current_register %>
          <%= image_tag current_register.image_url.to_s,style:"height: 150px; width: 150px;" %>
        <img src="http://i1112.photobucket.com/albums/k497/animalsbeingdicks/abd-3-12-2015.gif~original" height="150" width="150">
      </div>
      <table style="width:100%">
        <tr>
          <th></th><h4 style="font-family: 'Quicksand', sans-serif, sans-serif;font-size: 45px;font-weight: 800;width:100%"><%= current_register.username %></h4></th>
        </tr>
        <tr>
            <th><h4 style="font-family: 'Quicksand', sans-serif, sans-serif;font-size: 24px;font-weight: 600;width:70%">Email</h4></th>
            <td style="text-align:center;font-family: 'Quicksand', sans-serif, sans-serif;font-size: 24px;font-weight: 600;"><p>:</p></td>
            <td><h4 style="font-family: 'Quicksand', sans-serif, sans-serif;font-size: 24px;font-weight: 600;text-align:left"><%= current_register.email %></h4></td>
        </tr>
        <tr>
            <th><h4 style="font-family: 'Quicksand', sans-serif, sans-serif;font-size: 24px;font-weight: 600;width:70;%">Phone</h4></th>
            <td style="text-align:center;font-family: 'Quicksand', sans-serif, sans-serif;font-size: 24px;font-weight: 600;"><p>:</p></td>
            <td ><h4 style="font-family: 'Quicksand', sans-serif, sans-serif;font-size: 24px;font-weight: 600;text-align:left"><%= current_register.phone %></h4></td>
        <br>
        </tr>
        <tr style="font-size: 24px;font-weight: 600;">
            <th><p>&nbsp</p></th>
        </tr>
        <tr>
            <th><h4 style="font-family: 'Quicksand', sans-serif, sans-serif;font-size: 18px;font-weight: 600;width:70%;text-align:right"><%= link_to "Edit", edit_register_path(current_register) %></h4></th>
            <th style="width:20%"></th>
            
        </tr>
      </table>
      <% end %>
    </div>
  </body>

</html>