<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
      /*the container must be positioned relative:*/
      .custom-select {
        position: relative;
        font-family: Arial;
      }
      
      .custom-select select {
        display: none; /*hide original SELECT element:*/
      }
      
      .select-selected {
        background-color: #f6f6f6;
      }
      
      /*style the arrow inside the select element:*/
      .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border-color: #fff transparent transparent transparent;
      }
      
      /*point the arrow upwards when the select box is open (active):*/
      .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
        
      }
      
      /*style the items (options), including the selected item:*/
      .select-items div,.select-selected {
          color: #0d0d0d;
          padding: 8px 16px;
          border: 1px solid transparent;
          border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
          cursor: pointer;
          user-select: none;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 5px;
          width: 85%;
          border: 2px solid #f6f6f6;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
      }
      
      /*style items (options):*/
      .select-items {
        position: absolute;
        background-color: #f6f6f6;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
      }
      
      /*hide the items when the select box is closed:*/
      .select-hide {
        display: none;
      }
      
      .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .datetime select:nth-child(1) {
          width: 130px;
          text-indent: 15px; 
}
      </style>
    </head>     

    <body>
      
        <div class="wrapper2 ">
        <p id="alert"><%= alert %></p>
          <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active">CREATE an EVENT </h2>
              <%= form_for @event do |f| %>
                <% if @event.errors.any? %>
                  <div id="error_explanation">
                    <h2>
                      <%= "#{pluralize(@event.errors.count, "error")} prohibited this register from being saved:" %>
                    </h2>
                    <ul>
                      <% @event.errors.full_messages.each do |message| %>
                        <li>
                          <%= message %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                            <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
        
              <div>
                  <%= f.text_field :title, required: true, placeholder: "Title" %>
              </div>
              <div  style="width:100%; color: #cccccc;">
                <div class="custom-select">
                     <%= f.select :category,['food','concert','movie','sport','travel','game','university','Etc'] %>
                </div>
              </div>
              <div>
                  <%= f.text_field :description, required: true,placeholder: "Desciption"  %>
              </div>
              <div>
                  <%= f.text_field :by, required: true, placeholder: "by" %>
              </div>
              <div >
                <%= f.date_select :start , maxlength: 500, size: 15,rows: 10, cols: 25 ,width:100 %>
              </div>
              <div >
                <%= f.date_select :end , maxlength: 500, size: 15,rows: 10, cols: 25,width:100 %>
              </div>
              <div >
                <%= f.text_field :phone , maxlength: 500, size: 15,rows: 10, cols: 25,width:100 %>
              </div>
              <br>
              <table width=100%>
                  <tr>
                      <th>
                        <div class="actions" style="text-align:center">
                         <%= submit_tag "SAVE" %> 
                        </div>
                      </th>
                  </tr>
              </table>
            <% end %>
            </div>
          </div>
        
          <script>
          var x, i, j, selElmnt, a, b, c;
          /*look for any elements with the class "custom-select":*/
          x = document.getElementsByClassName("custom-select");
          for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /*for each element, create a new DIV that will act as the selected item:*/
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /*for each element, create a new DIV that will contain the option list:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
              /*for each option in the original select element,
              create a new DIV that will act as an option item:*/
              c = document.createElement("DIV");
              c.innerHTML = selElmnt.options[j].innerHTML;
              c.addEventListener("click", function(e) {
                  /*when an item is clicked, update the original select box,
                  and the selected item:*/
                  var y, i, k, s, h;
                  s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                  h = this.parentNode.previousSibling;
                  for (i = 0; i < s.length; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                      s.selectedIndex = i;
                      h.innerHTML = this.innerHTML;
                      y = this.parentNode.getElementsByClassName("same-as-selected");
                      for (k = 0; k < y.length; k++) {
                        y[k].removeAttribute("class");
                      }
                      this.setAttribute("class", "same-as-selected");
                      break;
                    }
                  }
                  h.click();
              });
              b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function(e) {
                /*when the select box is clicked, close any other select boxes,
                and open/close the current select box:*/
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
              });
          }
          function closeAllSelect(elmnt) {
            /*a function that will close all select boxes in the document,
            except the current select box:*/
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
              if (elmnt == y[i]) {
                arrNo.push(i)
              } else {
                y[i].classList.remove("select-arrow-active");
              }
            }
            for (i = 0; i < x.length; i++) {
              if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
              }
            }
          }
          /*if the user clicks anywhere outside the select box,
          then close all select boxes:*/
          document.addEventListener("click", closeAllSelect);
          </script>
    </body>
</html>
