%h1 Reports users

%table
  %thead
    %tr
      %th Event
      %th Report_to
      %th By
      %th Desciption
      %th
      %th
      %th

  %tbody
    - @reports.each do |report|
      %tr
        %td= report.event
        %td= report.report_to
        %td= report.by
        %td= report.desciption
        %td= link_to 'Show', report
        %td= link_to 'Edit', edit_report_path(report)
        %td= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Report', new_report_path
= link_to 'Back', root_url
